body {
	font-family: sans-serif;
	background-image: url("bloom background start.jpg");
	background-size: 1450px 750px;
	background-repeat: no-repeat;
	background-color: rgb(157, 215, 253);
}

h1 {
	color: orange;
	position: absolute;
	right: 200px;
}

#start {
	position: absolute;
	bottom: 33px;
	left: 615px;
	background-color: rgba(0, 0, 0, 0);
	border-style: none;
	font-size: 35px;
	color: rgb(144, 0, 70);
	cursor: pointer;
}

p {
	display: none;
}

#town {
	display: none;
	position: absolute;
	top: 300px;
	left: 50px;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: black;
	font-size: 26px;
	cursor: pointer;
}

#tekst2 {
	color: white;
}

#fight {
	display: none;
	position: absolute;
	top: 300px;
	left: 50px;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	font-size: 26px;
	cursor: pointer;
	color: white;
}

#flee {
	display: none;
	position: absolute;
	top: 300px;
	right: 50px;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	font-size: 26px;
	cursor: pointer;
	color: white;
}

#stok {
	display: none;
	position: absolute;
	top: 620px;
	left: 10px;
	background-color: rgba(0, 0, 0, 0);
	border-style: none;
	font-size: 26px;
	cursor: pointer;
	color: rgb(52, 77, 26);
}

#stick {
	display: inline;
	position: absolute;
	top: 292px;
	left: 140px;
}

#information {
	display: inline;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: rgb(203, 57, 32);
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(203, 57, 32);
	font-size: 20px;
	cursor: pointer;
}

#uitleg {
	color: rgb(255, 0, 128);
	position: absolute;
	top: 10px;
	left: 280px;
	font-size: 20px;
}

#tnx {
	color: rgb(255, 0, 128);
	position: absolute;
	top: 150px;
	left: 550px;
	font-size: 20px;
}

#back {
	display: none;
	position: absolute;
	bottom: 10px;
	left: 10px;
	color: rgb(255, 0, 128);
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(255, 0, 128);
	font-size: 20px;
	cursor: pointer;
}

#blooms_power {
	color: rgb(0, 255, 255);
}

#next2 {
	color: rgb(0, 255, 255);
	display: none;
	position: absolute;
	top: 300px;
	right: 50px;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(0, 255, 255);
	font-size: 26px;
	cursor: pointer;
}

#try_again {
	color: white;
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	font-size: 26px;
	top: 10px;
	left: 600px;
	cursor: pointer;
}

#season {
	color: orange;
	display: inline;
	position: absolute;
	right: 200px;
}

#parents_home {
	color: rgb(64, 0, 128);
}

#next3 {
	color: rgb(64, 0, 128);
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(64, 0, 128);
	font-size: 26px;
	top: 300px;
	left: 50px;
	cursor: pointer;
}

#next4 {
	color: black;
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: black;
	font-size: 26px;
	top: 300px;
	left: 50px;
	cursor: pointer;
}

#specialist {
	color: orange;
}

#next5 {
	color: orange;
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: orange;
	font-size: 26px;
	top: 50px;
	left: 10px;
	cursor: pointer;
}

#mangroup {
	color: rgb(237, 19, 7);
}

#next6 {
	color: rgb(237, 19, 7);
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(237, 19, 7);
	font-size: 26px;
	top: 100px;
	left: 10px;
	cursor: pointer;
}

#explain {
	color: rgb(0, 255, 255);
}

#next7 {
	color: rgb(0, 255, 255);
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(0, 255, 255);
	font-size: 26px;
	top: 75px;
	left: 10px;
	cursor: pointer;
}

#tomagix {

}

#next8 {
	color: rgb(0, 255, 255);
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(0, 255, 255);
	font-size: 26px;
	top: 75px;
	left: 10px;
	cursor: pointer;
}

#insidemagix {

}

#next9 {
	color: rgb(0, 255, 255);
	display: none;
	position: absolute;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(0, 255, 255);
	font-size: 26px;
	top: 75px;
	left: 10px;
	cursor: pointer;
}

#fail1 {
	display: none;
	position: absolute;
	top: 300px;
	right: 50px;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: black;
	font-size: 26px;
	cursor: pointer;
}

#tip1 {
	color: white;
}

#fail3 {
	display: none;
	position: absolute;
	top: 300px;
	left: 50px;
	color: rgb(0, 255, 255);
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(0, 255, 255);
	font-size: 26px;
	cursor: pointer;
}

#tip2 {
	color: white;
}

#tip3 {
	color: white;
}

#fail4 {
	display: none;
	position: absolute;
	top: 300px;
	right: 50px;
	color: rgb(64, 0, 128);
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: rgb(64, 0, 128);
	font-size: 26px;
	cursor: pointer;
}

#tip4 {
	color: white;
}

#fail5 {
	display: none;
	position: absolute;
	top: 300px;
	right: 50px;
	color: black;
	background-color: rgba(0, 0, 0, 0);
	border-style: solid;
	border-color: black;
	font-size: 26px;
	cursor: pointer;
}

#tip5 {
	color:white;
}